---
---

@charset "utf-8";

// Our variables
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$base-font-size:   100%;  // 16px by default
$small-font-size:  0.9rem;
$base-line-height: 1.64;

$spacing-unit:     32px;
$content-width:    800px;

$text-color:        #414141;
$dark-text-color:   #333;
$background-color:  #fff;
$brand-color:       #b00;
$yellow-color:      #ffc000;
$link-color:        #3477ad;
$header-background: #ececec;
$footer-background: #234;
$footer-text:       darken(#fff, 10%);

$grey-color:       #6b6b6b;
$grey-color-lightest: #f8f8f8;
$grey-color-dark:  darken($grey-color, 15%);
$grey-color-light:  lighten($grey-color, 15%);

$on-palm:          600px;
$on-laptop:        800px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

.anchor {
  display: block;
  position: relative;
  top: -30vh;
  visibility: hidden;
}

// table tr:hover td {
//   background: #efefef;
//   cursor: pointer;
// }

.rendered_html table {
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  color: black;
  font-size: 12px;
  table-layout: fixed;
}

.rendered_html thead {
  border-bottom: 1px solid black;
  vertical-align: bottom;
}
.rendered_html tr,
.rendered_html th,
.rendered_html td {
  text-align: right;
  vertical-align: middle;
  padding: 0.5em 0.5em;
  line-height: normal;
  white-space: normal;
  max-width: none;
  border: none;
}
.rendered_html th {
  font-weight: bold;
}
.rendered_html tbody tr:nth-child(odd) {
  background: #f5f5f5;
}
.rendered_html tbody tr:hover {
  background: rgba(66, 165, 245, 0.2);
}
.rendered_html * + table {
  margin-top: 1em;
}

figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
  "nav",
  "footer",
  "headings",
  "home",
  "publications",
  "projects",
  "talks",
  "blog",
  "syntax-highlighting",
  "cv"
;
